nav{
  background: #000;
}

nav a{
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 4px 8px;
  border-bottom: 1px solid grey;
  text-align: center;
}

nav a:hover{
  background: #333;
}

@media(min-width: 600px){
  nav{
    text-align: center;
    background: #333;
  }
  nav a{
    display: inline-block;
    border-bottom: 0;
  }
  nav a:hover{
    background: #000;
  }
  header{
    padding-bottom: 8px;
  }
}
