@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  color: #333;
  background-color: #f0f0f0;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
nav {
  font-family: 'Montserrat', sans-serif;
}

header,
footer {
  color: #f0f0f0;
  background-color: #333;
  overflow: auto;
  /* da margine ne bi probijale */
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

main {
  flex: 1;
}

.relative-wrapper {
  position: relative;
  display: inline-block;
}

.relative-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.strelica {
  position: fixed;
  right: 5%;
  bottom: 10%;
  font-size: 40px;
  text-decoration: none;
  color: red;
}

.galerija {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 800px;
  align-content: space-evenly;
}

.galerija a {
  margin: 10px;
}
